body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  /*background-image: url("http://orig08.deviantart.net/4489/f/2010/128/8/f/the_daleks_wallpaper_by_lordstrscream94.jpg");
  background-repeat: no-repeat;*/
}
